.dropdown-button {
  background-color: white;
  color: #333;
  padding: 0.625rem 1.25rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  font-size: 1rem;
  text-align: left;
  width: 13.75rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.125rem;
}

.dropdown-image {
  width: 10%;
  height: 10%;
  margin-right: 0.625rem;
}

.dropdown-icon {
  margin-left: 0.625rem;
}

.dropdown-content {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  width: 8.75rem;
  margin-top: 0.3125rem;
}

.dropdown-item {
  padding: 0.625rem;
  cursor: pointer;
  font-size: 0.875rem;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-item:active {
  background-color: #e0e0e0;
}

.dropdown-item[data-selected="true"] {
  text-decoration: underline;
}

.DropdownMenuItem[data-highlighted] {
  background-color: var(--violet-9);
  color: var(--violet-1);
}

[data-state="checked"] {
  display: none;
}

.DropdownMenuItem[data-state="checked"] .DropdownMenuItemIndicator {
  display: none;
}




