.product-container {
    background-color: #F0F0F0;

    height: fit-content;
    width: 100%;

    padding: 1em 1em 0.5em 5em;

    display: flex;
    flex-direction: row;

    gap: 10px;
}

.input-container {
    border: none;
}
