.title {
  font-size: 3rem;
  font-weight: 600;

  margin-bottom: 2rem;
  text-align: center;
}

.content {
  max-width: 64rem;
  margin: 0 auto;
}

.align-left {
  display: flex;
  justify-content: flex-end;

  margin-right: 8rem;
}

.user-select {
  width: fit-content;

  justify-self: end;

  padding: 0.5rem;
  margin-bottom: 2rem;

  border: 1px solid #000;

  background-color: transparent;

  font-size: 1.25rem;
  font-weight: 500;
}

.cart-box {
  margin: auto 8rem;

  border: 2.5px solid #588A5C;
  overflow: hidden;
}

.colunms-display {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;

  gap: 1rem;

  padding: 1rem;
  padding-left: 6rem;
}

.colunm-titles {
  font-size: 1.25rem;
  font-weight: 500;
}

.colunm-products-title {
  text-align: center;
}

.product-item {
  align-items: center;
}

.colunm-products {
  display: flex;
  gap: 2rem;
}

.button-remove {
  font-size: 1.25rem;
  font-weight: 500;

  background-color: transparent;
  border: none;
  
  cursor: pointer;
}

.product-box {
  display: flex;

  img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
  }
}

.price-total {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 1rem;
  padding: 1rem;
  margin-left: 8rem;

  border-top: 5px solid #000;

  font-size: 2rem;
  font-weight: 600;
}

.container-checkout {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.button-checkout {
  background-color: #688A6A;
  color: white;

  border: none;

  padding: 1rem 2rem;

  font-size: 1.125rem;
  border-radius: 0.25rem;

  cursor: pointer;
}

.button-checkout:hover {
  background-color: #3b4d3c;
}