.create-container {
  width: 94%;
  background-color: #F0F0F0;
  border: 1px solid #242424;
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 0.5rem;
  margin-top: 2rem;
  margin-left: 5rem;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  
  font-family: 'Inter', sans-serif; 
  font-weight: 300; 
}

#file-input,
#file-input-container {
  width: 8rem;
  margin-right: 1rem;
}

.category-container {
  font-size: 0.9rem;
  text-align: left;
  height: 3.65rem;
  width: 10rem;
  margin-bottom: 1rem;
}

.category-select {
  height: 3.65rem;
  width: 10rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  margin-right: 1rem;
}

#name {
  width: 8rem; 
  height: 4rem;
  text-align: left;
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

#description {
  width: 10rem; 
  text-align: left;
  font-size: 0.9rem;
}

.description-container {
  width: 15rem; 
  text-align: left;
  font-size: 0.9rem;
}

.price-container {
  text-align: center;
  font-size: 0.9rem;
  height: 3rem;
  width: 5rem;
}

#featured {
  text-align: left;
  font-size: 0.9rem;
  height: 3.6rem;
  width: 10rem;
  font-family: 'Inter', sans-serif; 
  font-weight: 300; 
}
.featured.featured-container {
  text-align: left;
  font-size: 0.9rem;
  height: 3.6rem;
  width: 10rem;
  font-family: 'Inter', sans-serif; 
  font-weight: 300; 
}

.create-button {
  background-color: orange;
  height: 2rem;
  width: 5rem;
  text-align: center;
  align-self: flex-start;  
}
