.create-container {
    width: 80%;
    margin: 20px auto;
    background-color: #F0F0F0;
    border: 1px solid #588A5C;
    border-radius: 5px;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    display: flex;
    flex-direction: row;
}

.param-container {
    background-color: white;
    color: black;

    padding: 15px;
    margin: 10px;

    border: 1px solid #000;
    border-radius: 5px;


}

.input-container {
    border: none;
}

.button-container {
    background-color: orange;
    text-align: center;
}
.dropdown-image {
    width: 8%;
    height: 8%;
    margin-right: 0.625rem;
  }